.row
  - @item_categories.each do |cat|
    .col-xs-12.col-sm-6.col-md-6.col-lg-6
      .panel.panel-default
        / Default panel contents
        .panel-heading 
          = cat.name
        .panel-body
          %p=cat.description
        %table.table
          %tr
            %th
              Name
            %th
              Price
            %th
              Available Quantity
            %th
              Order
            %th
              Action

          - cat.items.each do |item|
            %tr
              %td= item.name
              %td= item.price
              %td= item.quantity
              - if current_user
                = form_tag add_to_cart_orders_path, :remote => true do
                  = hidden_field_tag :item_id, item.id
                  %td= text_field_tag :order, nil, :size => 10, :class => [:small], :required => true
                  %td= submit_tag "Add to cart", :class => "btn btn-primary btn-xs", :remote => :true
              - else
                %td= text_field_tag :order, nil, :size => 10, :class => [:small]
                %td= link_to "Add to cart", new_user_session_path, :class => "btn btn-primary btn-xs"


