%table.table
  %tr
    %th
      Item
    %th
      Unit Price
    %th
      Quantity
    %th
      Total
  - @cart_hash.each do |hash|
    %tr
      %td
        = hash[:name]
      %td
        = hash[:price]
      %td
        = hash[:order]
      %td
        = hash[:item_price]
  %tr
    %td
    %td
    %td
      %b Total Price
    %td{:colspan => 4}
      = @total

  