!!!
%html
  %head
    %title Meal
    = javascript_include_tag "application"
    = stylesheet_link_tag    "bootstrap", :media => "all"
    = stylesheet_link_tag    "application", :media => "all"
    = csrf_meta_tags
  %body
    .container
      = render :partial => "layouts/header"
    .container
      = bootstrap_flash
      = yield
    %footer{:style => "bottom:0px;background-color:#EEE"}
      %hr
      .container
        %p.text-muted.pull-right
          Designed By
          %a.block{:href => "http://www.webasiansystems.com", :target => "_blank"}
            %a.nonblock{:href => "http://www.webasiansystems.com"}
              %span#u329-2 Web Asian systems
    .modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            %a.close{:href => root_path}
              %span{"aria-hidden" => "true"} &times;
              %span.sr-only Close
            %h4.modal-title Your Food Cart
          .modal-body
            %p Please add items by clicking "Add to Cart"
          .modal-footer
            = link_to "Order More", root_path, :method => :get,  :class => 'btn btn-default'
            = link_to "Checkout", orders_path, :method => :post, :remote => true, :class => 'btn btn-primary checkout'
  :javascript
